* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
}

.nav {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px 50px;
}

.nav--image {
  height: 100%;
  margin-right: 6px;
}

.nav--title {
  font-size: 1.55rem;
  letter-spacing: 6px;
  margin-right: auto;
}

.nav--project {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

main {
  padding: 50px 80px;
}

.form {
  display: grid;
  grid-template: 60px 70px / 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--div {
  display: flex;
  justify-content: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 5px;
}